{
  "openapi": "3.0.0",
  "info": {
    "title": "Sink API",
    "version": "1.0.0",
    "description": "URL shortening service API with analytics and real-time tracking"
  },
  "servers": [
    {
      "url": "https://aiurl.tw"
    }
  ],
  "paths": {
    "/api/location": {
      "get": {
        "summary": "Get user location",
        "description": "Retrieve the geographical location of the user based on Cloudflare's data",
        "responses": {
          "200": {
            "description": "Location data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "description": "Latitude coordinate"
                    },
                    "longitude": {
                      "type": "number",
                      "description": "Longitude coordinate"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/verify": {
      "get": {
        "summary": "Verify site token",
        "description": "Verify the site token and return basic site information",
        "responses": {
          "200": {
            "description": "Site information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Sink"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://sink.cool"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/link/list": {
      "get": {
        "summary": "List links",
        "description": "Retrieve a paginated list of all short links",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1024
            },
            "description": "Number of links per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List of links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    },
                    "list_complete": {
                      "type": "boolean"
                    },
                    "cursor": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/link/create": {
      "post": {
        "summary": "Create a new short link",
        "description": "Create a new short link with the provided URL and optional parameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Link"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "$ref": "#/components/schemas/Link"
                    },
                    "shortLink": {
                      "type": "string",
                      "example": "https://aiurl.tw/abc123"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Link already exists"
          }
        }
      }
    },
    "/api/link/edit": {
      "put": {
        "summary": "Edit an existing link",
        "description": "Update an existing short link",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Link"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "$ref": "#/components/schemas/Link"
                    },
                    "shortLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Preview mode cannot edit links"
          }
        }
      }
    },
    "/api/link/delete": {
      "post": {
        "summary": "Delete a link",
        "description": "Delete a short link by slug",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "The slug of the link to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link deleted successfully"
          },
          "403": {
            "description": "Preview mode cannot delete links"
          }
        }
      }
    },
    "/api/link/query": {
      "get": {
        "summary": "Query a link by slug",
        "description": "Retrieve details of a specific link by its slug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The slug of the link"
          }
        ],
        "responses": {
          "200": {
            "description": "Link details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "Link not found"
          }
        }
      }
    },
    "/api/link/search": {
      "get": {
        "summary": "Search links",
        "description": "Search and retrieve all links with their metadata",
        "responses": {
          "200": {
            "description": "List of links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "comment": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/link/upsert": {
      "post": {
        "summary": "Upsert a link",
        "description": "Create a new link or update if it exists",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Link"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "$ref": "#/components/schemas/Link"
                    },
                    "shortLink": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["existing", "created"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/link/ai": {
      "get": {
        "summary": "Generate slug using AI",
        "description": "Generate a short slug for a URL using AI",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "The URL to generate slug for"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated slug",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "501": {
            "description": "AI not enabled"
          }
        }
      }
    },
    "/api/logs/events": {
      "get": {
        "summary": "Query event logs",
        "description": "Retrieve event logs with filtering",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browserType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Event log entry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/logs/locations": {
      "get": {
        "summary": "Query location logs",
        "description": "Retrieve location statistics",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browserType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "country": {
                        "type": "string"
                      },
                      "region": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/counters": {
      "get": {
        "summary": "Get statistics counters",
        "description": "Retrieve visit, visitor, and referer counts",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browserType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics counters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visits": {
                      "type": "integer"
                    },
                    "visitors": {
                      "type": "integer"
                    },
                    "referers": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/metrics": {
      "get": {
        "summary": "Get statistics metrics",
        "description": "Retrieve metrics by type",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of metric to retrieve"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browserType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/views": {
      "get": {
        "summary": "Get statistics views",
        "description": "Retrieve visit and visitor data over time",
        "parameters": [
          {
            "name": "unit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["minute", "hour", "day"]
            },
            "description": "Time unit for grouping"
          },
          {
            "name": "clientTimezone",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Etc/UTC"
            },
            "description": "Client timezone"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browserType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Views data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "string"
                      },
                      "visits": {
                        "type": "integer"
                      },
                      "visitors": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 26,
            "description": "Unique identifier for the link"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "The original URL to shorten"
          },
          "slug": {
            "type": "string",
            "maxLength": 2048,
            "description": "The short slug for the link"
          },
          "comment": {
            "type": "string",
            "maxLength": 2048,
            "description": "Optional comment"
          },
          "createdAt": {
            "type": "integer",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "integer",
            "description": "Last update timestamp"
          },
          "expiration": {
            "type": "integer",
            "description": "Expiration timestamp"
          },
          "title": {
            "type": "string",
            "maxLength": 2048,
            "description": "Optional title"
          },
          "description": {
            "type": "string",
            "maxLength": 2048,
            "description": "Optional description"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "Optional image URL"
          }
        },
        "required": ["url"]
      },
      "Query": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "startAt": {
            "type": "integer"
          },
          "endAt": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "referer": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "browserType": {
            "type": "string"
          },
          "device": {
            "type": "string"
          },
          "deviceType": {
            "type": "string"
          },
          "limit": {
            "type": "integer",
            "default": 20
          }
        }
      }
    }
  }
}
